@import url("https://fonts.googleapis.com/css2?family=Ibarra+Real+Nova:wght@400;700&family=Public+Sans&display=swap");
.banner-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 600px) {
  .banner-btn {
    margin-bottom: 6rem;
  }
}

.banner-btn .down-arrow {
  background-color: #1d3444;
  cursor: pointer;
  padding: 13px;
  display: block;
}

.banner-btn .down-arrow svg {
  fill: none;
  fill-rule: evenodd;
}

.banner-btn a {
  text-decoration: none;
  color: #fafafa;
}

.banner-btn .about-me-btn {
  cursor: pointer;
  background-color: #203a4c;
  border: none;
  font-family: "Public Sans", serif;
  font-size: 11px;
  letter-spacing: 2px;
  padding: 16px 36px;
  text-transform: uppercase;
}

.banner-btn:hover .down-arrow {
  background-color: #57a292;
}

.banner-btn:hover .about-me-btn {
  background-color: #5fb4a2;
}

.portfolio-btn {
  margin-top: 40px;
}

@media (max-width: 600px) {
  .portfolio-btn {
    padding-bottom: 64px;
  }
}

@media (min-width: 600px) {
  .portfolio-btn {
    margin-bottom: 60px;
  }
}

.portfolio-btn a {
  background-color: white;
  border: 1px solid #33323d;
  color: #33323d;
  cursor: pointer;
  font-family: "Public Sans", sans-serif;
  font-size: 12px;
  font-weight: bolder;
  letter-spacing: 2px;
  padding: 16px 32px;
  text-decoration: none;
  text-transform: uppercase;
}

.portfolio-btn a:hover {
  background-color: #33323d;
  color: #fafafa;
}

@media (max-width: 600px) {
  .view-project-btn {
    margin: 40px 0;
  }
}

@media (min-width: 600px) {
  .view-project-btn {
    margin: 45px 0;
  }
}

@media (min-width: 1200px) {
  .view-project-btn {
    margin: 55px 0;
  }
}

.view-project-btn a {
  background-color: white;
  border: 1px solid #33323d;
  color: #33323d;
  cursor: pointer;
  font-family: "Public Sans", sans-serif;
  font-size: 12px;
  font-weight: bolder;
  letter-spacing: 2px;
  padding: 16px 32px;
  text-decoration: none;
  text-transform: uppercase;
}

.view-project-btn a:hover {
  background-color: #33323d;
  color: #fafafa;
}

.visit-btn {
  border-bottom: 1px solid #eaeaeb;
  margin-top: 35px;
  padding-bottom: 50px;
}

.visit-btn a {
  background-color: white;
  border: 1px solid #33323d;
  color: #33323d;
  cursor: pointer;
  font-family: "Public Sans", sans-serif;
  font-size: 12px;
  font-weight: bolder;
  letter-spacing: 2px;
  padding: 16px 32px;
  text-decoration: none;
  text-transform: uppercase;
}

.visit-btn a:hover {
  background-color: #33323d;
  color: #fafafa;
}

.contact-btn {
  padding-left: 24px;
}

@media (max-width: 600px) {
  .contact-btn {
    padding: 0;
  }
}

.contact-btn a {
  background-color: white;
  border: 1px solid #33323d;
  color: #33323d;
  cursor: pointer;
  font-family: "Public Sans", sans-serif;
  font-size: 12px;
  font-weight: bolder;
  letter-spacing: 2px;
  padding: 16px 32px;
  text-decoration: none;
  text-transform: uppercase;
}

.contact-btn a:hover {
  background-color: #33323d;
  color: #fafafa;
}

@media (max-width: 600px) {
  .contact-form {
    margin-bottom: 60px;
  }
}

@media (min-width: 900px) {
  .contact-form {
    -ms-flex-preferred-size: 0;
        flex-basis: 0;
    -webkit-box-flex: 3;
        -ms-flex-positive: 3;
            flex-grow: 3;
    margin: 25px 0;
  }
}

.contact-form label {
  color: #33323dd0;
  font-family: "Public Sans", sans-serif;
  font-size: 12px;
  font-weight: 900;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form select,
.contact-form textarea {
  background-color: #e4e3e3;
  border: 1px solid #eaeaeb;
  /* Gray border */
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* Make sure that padding and width stays in place */
  font-family: "Public Sans", sans-serif;
  font-size: 12px;
  margin: 12px 0 24px 0;
  padding: 16px;
  resize: none;
  width: 100%;
}

.contact-form ::-webkit-input-placeholder {
  color: #a2a2a2;
}

.contact-form :-ms-input-placeholder {
  color: #a2a2a2;
}

.contact-form ::-ms-input-placeholder {
  color: #a2a2a2;
}

.contact-form ::placeholder {
  color: #a2a2a2;
}

.contact-form input[type="submit"] {
  background-color: #203a4c;
  border: none;
  color: #fafafa;
  cursor: pointer;
  font-family: "Public Sans", serif;
  font-size: 11px;
  letter-spacing: 2px;
  padding: 18px 40px;
  text-transform: uppercase;
}

.contact-form input[type="submit"]:hover {
  background-color: #5fb4a2;
}

.social-icons ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
  padding: 0;
}

.social-icons li {
  float: left;
}

.social-icons .fab {
  font-size: 1.5rem;
}

.social-icons li:hover > .fa-github {
  color: #787878;
}

.social-icons li:hover > .fa-twitter {
  color: #1a91da;
}

.social-icons li:hover > .fa-linkedin {
  color: #0a66c2;
}

.social-icons li {
  padding-left: 12px;
}

@media (max-width: 600px) {
  .social-icons li {
    padding: 7px;
  }
}

.social-icons .fab {
  color: #eaeaeb;
}

.social-icons-2 ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
  padding: 0;
}

.social-icons-2 li {
  float: left;
}

.social-icons-2 .fab {
  font-size: 1.5rem;
}

.social-icons-2 li:hover > .fa-github {
  color: #787878;
}

.social-icons-2 li:hover > .fa-twitter {
  color: #1a91da;
}

.social-icons-2 li:hover > .fa-linkedin {
  color: #0a66c2;
}

.social-icons-2 li {
  padding-right: 12px;
}

footer {
  background-color: #33323d;
  bottom: -40px;
  margin: auto;
  position: absolute;
  width: 100%;
}

@media (max-width: 600px) {
  footer {
    position: initial;
  }
}

footer .real-footer {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: auto;
  max-width: 1080px;
}

@media (min-width: 600px) {
  footer .real-footer {
    padding: 12px 30px;
  }
}

@media (max-width: 600px) {
  footer .real-footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 32px 0;
  }
}

footer .real-footer .left-footer {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 600px) {
  footer .real-footer .left-footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

footer .real-footer .left-footer .footer-menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

footer .real-footer .left-footer .footer-menu .menu-item-2 {
  float: left;
}

@media (max-width: 600px) {
  footer .real-footer .left-footer .footer-menu .menu-item-2 {
    float: none;
  }
}

footer .real-footer .left-footer .footer-menu .menu-item-2 .link-2 {
  color: #eaeaeb;
  display: block;
  font-family: "Public Sans", sans-serif;
  font-size: 14px;
  font-weight: bolder;
  letter-spacing: 1px;
  margin-left: 50px;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transform: scale(1, 0.9);
          transform: scale(1, 0.9);
}

@media (max-width: 600px) {
  footer .real-footer .left-footer .footer-menu .menu-item-2 .link-2 {
    margin: 25px auto;
    text-align: center;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #fafafa;
  margin: 0;
  min-height: 100vh;
  position: relative;
}

.container {
  margin: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 1080px;
  padding-bottom: 1rem;
}

@media (max-width: 600px) {
  .container {
    padding: 0 30px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
}

@media (min-width: 600px) {
  .container {
    padding: 30px;
  }
}

@media (min-width: 1200px) {
  .container {
    padding: 0;
  }
}

.header {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: auto;
  max-width: 1080px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 600px) {
  .header {
    padding: 30px;
  }
}

@media (min-width: 600px) {
  .header {
    padding: 30px;
    max-width: 1080px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (min-width: 1200px) {
  .header {
    padding: 30px 0;
  }
}

.header #burger {
  z-index: 2;
}

@media (max-width: 600px) {
  .header #burger {
    position: relative;
    width: 24px;
    display: block;
  }
  .header #burger .bar {
    position: relative;
    display: block;
    width: 100%;
    height: 3px;
    margin: 4px 0;
    background: #33323d;
    -webkit-transition: all 250ms ease-in;
    transition: all 250ms ease-in;
  }
}

.header #burger.menu-opened .bar {
  background: #fff;
}

.header .menu-opened .topBar {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 2px;
}

.header .menu-opened .btmBar {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: -5px;
}

.header .nav-menu {
  font-family: "Public Sans", sans-serif;
  list-style-type: none;
}

@media (min-width: 600px) {
  .header .nav-menu .menu-item {
    float: right;
  }
}

@media (max-width: 600px) {
  .header .nav-menu .menu-item a {
    border-bottom: 1px solid white;
    color: #fff;
    display: block;
    font-size: 25px;
    margin: 0 30px 20px;
    padding-bottom: 15px;
    text-align: right;
    text-decoration: none;
  }
}

@media (min-width: 600px) {
  .header .nav-menu .menu-item a {
    color: #33323d;
    display: block;
    font-size: 14px;
    font-weight: bolder;
    letter-spacing: 1px;
    margin-left: 45px;
    text-decoration: none;
    text-transform: uppercase;
    -webkit-transform: scale(1, 0.9);
            transform: scale(1, 0.9);
  }
  .header .nav-menu .menu-item a.active-page {
    color: #5fb4a2;
  }
}

@media (max-width: 600px) {
  .header .nav-menu {
    margin: 0;
    padding: 0;
    position: absolute;
    top: -290px;
    left: 0;
    -webkit-transition: all 0.2s ease-in, background 0.5s ease-in;
    transition: all 0.2s ease-in, background 0.5s ease-in;
    z-index: 1;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    height: 18rem;
    background-color: rgba(35, 36, 40, 0.817);
  }
  .header .nav-menu.menu-opened {
    top: 0;
  }
  .header .nav-menu.menu-opened .menu-item {
    -webkit-transition-delay: 0.3s;
            transition-delay: 0.3s;
  }
}

.upper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: 1px solid #eaeaeb;
  margin-top: 10px;
}

@media (max-width: 600px) {
  .upper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0;
  }
}

@media (min-width: 600px) {
  .upper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0;
  }
}

@media (min-width: 900px) {
  .upper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.upper .left-title {
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
}

.upper .left-title h2 {
  color: #33323d;
  font-family: "Ibarra Real Nova", serif;
  font-size: 38px;
  font-weight: bold;
  margin: 0;
}

@media (max-width: 600px) {
  .upper .left-title h2 {
    margin: 25px 0;
  }
}

@media (min-width: 600px) {
  .upper .left-title h2 {
    margin: 25px 0;
  }
}

.upper .sellout {
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
  -webkit-box-flex: 3;
      -ms-flex-positive: 3;
          flex-grow: 3;
}

.upper .sellout p {
  color: #33323da7;
  font-family: "Public Sans", sans-serif;
  font-size: 16px;
  line-height: 30px;
}

@media (max-width: 600px) {
  .upper .sellout p {
    margin-top: 0;
  }
}

@media (min-width: 600px) {
  .upper .sellout p {
    margin-top: 0;
  }
}

@media (min-width: 900px) {
  .upper .sellout p {
    margin: 25px 0;
  }
}

.lower {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-top: 1px solid #eaeaeb;
  margin-top: 20px;
  padding: 35px 0;
}

@media (max-width: 600px) {
  .lower {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0;
  }
}

@media (min-width: 600px) {
  .lower {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 0 60px;
  }
}

@media (min-width: 900px) {
  .lower {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.lower .left-title {
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
}

.lower .left-title h2 {
  color: #33323d;
  font-family: "Ibarra Real Nova", serif;
  font-size: 38px;
  font-weight: bold;
  margin: 0;
}

@media (max-width: 600px) {
  .lower .left-title h2 {
    margin: 25px 0;
  }
}

@media (min-width: 600px) {
  .lower .left-title h2 {
    margin: 25px 0;
  }
}

.banner {
  position: relative;
}

@media (max-width: 600px) {
  .banner {
    display: block;
    margin: 0;
  }
}

@media (min-width: 600px) {
  .banner {
    margin: 0;
  }
}

@media (min-width: 1200px) {
  .banner {
    margin: 25px 0 80px 0;
  }
}

.banner .hero-image {
  width: 100%;
}

.banner .banner-text {
  background-color: #fafafa;
  width: 27em;
}

@media (max-width: 600px) {
  .banner .banner-text {
    position: initial;
    width: 100%;
  }
}

@media (min-width: 600px) {
  .banner .banner-text {
    position: absolute;
    left: -1px;
    bottom: 0;
    width: 32em;
  }
}

.banner .banner-text p {
  color: #33323d;
  font-family: "Ibarra Real Nova", serif;
  font-weight: bold;
}

@media (max-width: 600px) {
  .banner .banner-text p {
    font-size: 34px;
    margin: 24px 0;
  }
}

@media (min-width: 600px) {
  .banner .banner-text p {
    font-size: 32px;
  }
}

@media (min-width: 1200px) {
  .banner .banner-text p {
    font-size: 45px;
  }
}

.profile {
  color: #33323d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 6rem 0;
}

@media (max-width: 600px) {
  .profile {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0;
  }
}

.profile .profile-pic {
  position: relative;
  overflow: hidden;
  width: 100%;
}

@media (max-width: 600px) {
  .profile .profile-pic .pp-1 {
    width: 100%;
    height: 100%;
  }
}

@media (min-width: 600px) {
  .profile .profile-pic .pp-1 {
    left: -255px;
    position: absolute;
    width: auto;
    height: 100%;
  }
}

@media (min-width: 900px) {
  .profile .profile-pic .pp-1 {
    left: -70px;
  }
}

@media (min-width: 1200px) {
  .profile .profile-pic .pp-1 {
    left: 0;
  }
}

.profile .profile-text {
  border-bottom: 1px solid #eaeaeb;
  border-top: 1px solid #eaeaeb;
}

@media (max-width: 600px) {
  .profile .profile-text {
    margin: 0;
  }
}

@media (min-width: 600px) {
  .profile .profile-text {
    width: 86%;
  }
}

@media (min-width: 900px) {
  .profile .profile-text {
    margin: 0 100px;
  }
}

.profile .profile-text h1 {
  font-family: "Ibarra Real Nova", serif;
  margin-top: 40px;
}

@media (max-width: 600px) {
  .profile .profile-text h1 {
    font-size: 40px;
  }
}

.profile .profile-text p {
  color: #33323db6;
  font-family: "Public Sans", sans-serif;
  font-size: 16px;
  line-height: 30px;
}

@media (max-width: 600px) {
  .profile .profile-text p {
    font-size: 16px;
    line-height: 28px;
  }
}

.contact-bottom {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 60px;
}

@media (max-width: 600px) {
  .contact-bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    padding-bottom: 75px;
  }
}

@media (min-width: 1200px) {
  .contact-bottom {
    padding-bottom: 75px;
  }
}

@media (min-width: 1200px) {
  .contact-bottom .contact-text {
    margin-right: 32px;
  }
}

.contact-bottom .contact-text h3 {
  font-family: "Ibarra Real Nova", serif;
  font-size: 40px;
}

@media (max-width: 600px) {
  .contact-bottom .contact-text h3 {
    margin-bottom: 50px;
  }
}

@media (min-width: 600px) {
  .contact-bottom .contact-text h3 {
    font-size: 35px;
    max-width: 360px;
    width: 100vw;
  }
}

.contact-bottom hr {
  border: 1px solid #eaeaeb;
  width: 40%;
}

@media (max-width: 600px) {
  .contact-bottom hr {
    display: none;
  }
}

@media (min-width: 600px) {
  .contact-bottom hr {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    width: 40%;
  }
}

.project-preview {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 600px) {
  .project-preview {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0;
  }
}

@media (min-width: 600px) {
  .project-preview {
    margin-bottom: 75px;
  }
}

@media (min-width: 1200px) {
  .project-preview {
    margin: 3rem 0 5rem;
  }
}

.project-preview .portfolio-img {
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

@media (max-width: 600px) {
  .project-preview .portfolio-img {
    width: 100%;
  }
}

@media (min-width: 1200px) {
  .project-preview .portfolio-img {
    width: 100%;
    height: 100%;
    padding: 0;
  }
}

.project-preview .portfolio-img .project-preview-img {
  width: 100%;
}

@media (min-width: 600px) {
  .project-preview .portfolio-img .project-preview-img {
    margin: 40px 0;
  }
}

@media (min-width: 900px) {
  .project-preview .portfolio-img .project-preview-img {
    margin: 0;
  }
}

@media (min-width: 1200px) {
  .project-preview .portfolio-img .project-preview-img {
    position: initial;
    margin: 0;
  }
}

.project-preview .project-description {
  border-bottom: 1px solid #eaeaeb;
  border-top: 1px solid #eaeaeb;
}

@media (max-width: 600px) {
  .project-preview .project-description {
    margin: 30px 0 50px 0;
  }
}

@media (min-width: 600px) {
  .project-preview .project-description {
    margin: 0 55px;
    -ms-flex-preferred-size: 0;
        flex-basis: 0;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}

@media (min-width: 900px) {
  .project-preview .project-description {
    margin: 0 80px;
  }
}

@media (min-width: 1200px) {
  .project-preview .project-description {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 7rem;
  }
}

.project-preview .project-description h2 {
  font-family: "Ibarra Real Nova", serif;
  font-size: 36px;
  font-weight: 500;
}

.project-preview .project-description p {
  color: #33323db6;
  font-family: "Public Sans", sans-serif;
  font-size: 16px;
  line-height: 30px;
  margin: 0;
}

.project-preview .project-description .visit-btn button {
  background-color: white;
  border: 1px solid #33323d;
  color: #33323d;
  cursor: pointer;
  font-family: "Public Sans", sans-serif;
  font-size: 12px;
  font-weight: bolder;
  letter-spacing: 2px;
  padding: 16px 32px;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
}

@media (max-width: 600px) {
  .reverse-col-project-preview {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

@media (max-width: 600px) {
  .project-hero {
    margin-bottom: 30px;
  }
}

@media (min-width: 900px) {
  .project-hero {
    margin-top: 25px;
  }
}

@media (max-width: 600px) {
  .project-hero img {
    width: 100%;
  }
}

@media (min-width: 600px) {
  .project-hero img {
    width: 100%;
  }
}

.project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 600px) {
  .project {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0;
  }
}

@media (min-width: 600px) {
  .project {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0;
  }
}

@media (min-width: 900px) {
  .project {
    padding-top: 3rem;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.project .left-desc {
  border-top: 1px solid #eaeaeb;
}

@media (max-width: 600px) {
  .project .left-desc {
    margin: 0;
  }
}

@media (min-width: 600px) {
  .project .left-desc {
    margin: 35px 0px;
    position: relative;
  }
}

@media (min-width: 900px) {
  .project .left-desc {
    -ms-flex-preferred-size: 0;
        flex-basis: 0;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    margin-right: 4rem;
  }
}

.project .left-desc h2 {
  color: #33323d;
  font-family: "Ibarra Real Nova", serif;
  font-size: 36px;
}

@media (min-width: 600px) {
  .project .left-desc h2 {
    margin-bottom: 20px;
  }
}

.project .left-desc .project-environment {
  color: #33323db6;
  font-family: "Public Sans", sans-serif;
  font-size: 16px;
  line-height: 30px;
}

@media (min-width: 600px) {
  .project .left-desc .project-environment {
    position: absolute;
    right: 0;
    top: 20px;
    width: 47%;
  }
}

@media (min-width: 900px) {
  .project .left-desc .project-environment {
    position: initial;
    width: auto;
  }
}

.project .left-desc .project-lang {
  color: #5fb4a2;
  font-family: "Public Sans", sans-serif;
  font-size: 14px;
  font-weight: bold;
}

@media (min-width: 600px) {
  .project .left-desc p:nth-of-type(2) {
    padding: 0;
    margin-top: 0;
  }
}

@media (min-width: 900px) {
  .project .left-desc p:nth-of-type(2) {
    padding-top: 8px;
  }
}

.project .right-desc {
  padding-left: 32px;
}

@media (max-width: 600px) {
  .project .right-desc {
    padding: 0;
    width: 100%;
  }
}

@media (min-width: 600px) {
  .project .right-desc {
    padding: 0;
    width: 100%;
  }
}

@media (min-width: 900px) {
  .project .right-desc {
    -ms-flex-preferred-size: 0;
        flex-basis: 0;
    -webkit-box-flex: 2;
        -ms-flex-positive: 2;
            flex-grow: 2;
  }
}

.project .right-desc h3 {
  color: #33323d;
  font-family: "Ibarra Real Nova", serif;
  font-size: 30px;
  font-weight: 500;
  margin-top: 0;
}

@media (max-width: 600px) {
  .project .right-desc h3 {
    margin-top: 40px;
  }
}

@media (min-width: 600px) {
  .project .right-desc h3 {
    margin-top: 40px;
  }
}

.project .right-desc .background p {
  color: #33323da7;
  font-family: "Public Sans", sans-serif;
  font-size: 16px;
  line-height: 30px;
  margin-bottom: 32px;
}

.project .right-desc .previews .preview-img {
  margin-bottom: 40px;
}

@media (max-width: 600px) {
  .project .right-desc .previews .preview-img {
    width: 100%;
  }
}

@media (min-width: 600px) {
  .project .right-desc .previews .preview-img {
    width: 100%;
  }
}

.project-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.project-slide .prev-next-1,
.project-slide .prev-next-2 {
  margin: 24px 0 54px 0;
  padding: 32px 0;
  width: 100%;
}

@media (max-width: 600px) {
  .project-slide .prev-next-1,
  .project-slide .prev-next-2 {
    padding: 20px 0;
  }
}

.project-slide .prev-next-1 a,
.project-slide .prev-next-2 a {
  color: #33323d;
  text-decoration: none;
}

.project-slide .prev-next-1 .previous,
.project-slide .prev-next-1 .next,
.project-slide .prev-next-2 .previous,
.project-slide .prev-next-2 .next {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.project-slide .prev-next-1 .previous .left-slide p,
.project-slide .prev-next-1 .previous .right-slide p,
.project-slide .prev-next-1 .next .left-slide p,
.project-slide .prev-next-1 .next .right-slide p,
.project-slide .prev-next-2 .previous .left-slide p,
.project-slide .prev-next-2 .previous .right-slide p,
.project-slide .prev-next-2 .next .left-slide p,
.project-slide .prev-next-2 .next .right-slide p {
  font-family: "Ibarra Real Nova", serif;
  font-size: 28px;
  margin: 3px 0;
}

.project-slide .prev-next-1 .previous .left-slide span,
.project-slide .prev-next-1 .previous .right-slide span,
.project-slide .prev-next-1 .next .left-slide span,
.project-slide .prev-next-1 .next .right-slide span,
.project-slide .prev-next-2 .previous .left-slide span,
.project-slide .prev-next-2 .previous .right-slide span,
.project-slide .prev-next-2 .next .left-slide span,
.project-slide .prev-next-2 .next .right-slide span {
  color: #a5a5a5;
  font-family: "Public Sans", sans-serif;
  font-size: 14px;
}

.project-slide .prev-next-1 {
  border-bottom: 1px solid #eaeaeb;
  border-right: 1px solid #eaeaeb;
  border-top: 1px solid #eaeaeb;
}

@media (max-width: 600px) {
  .project-slide .prev-next-1 .previous {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.project-slide .prev-next-1 .previous svg {
  padding-right: 20px;
}

@media (max-width: 600px) {
  .project-slide .prev-next-1 .previous svg {
    padding-bottom: 8px;
  }
}

.project-slide .prev-next-2 {
  border-bottom: 1px solid #eaeaeb;
  border-top: 1px solid #eaeaeb;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.project-slide .prev-next-2 .next {
  text-align: right;
}

@media (max-width: 600px) {
  .project-slide .prev-next-2 .next {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.project-slide .prev-next-2 .next svg {
  padding-left: 20px;
}

@media (max-width: 600px) {
  .project-slide .prev-next-2 .next svg {
    padding-bottom: 8px;
  }
}
/*# sourceMappingURL=main.css.map */