.banner-btn {
  display: flex;

  @include mobile {
    margin-bottom: 6rem;
  }

  .down-arrow {
    background-color: #1d3444;
    cursor: pointer;
    padding: 13px;
    display: block;

    svg {
      fill: none;
      fill-rule: evenodd;
    }
  }

  a {
    text-decoration: none;
    color: #fafafa;
  }

  .about-me-btn {
    cursor: pointer;
    background-color: #203a4c;
    border: none;
    font-family: "Public Sans", serif;
    font-size: 11px;
    letter-spacing: 2px;
    padding: 16px 36px;
    text-transform: uppercase;
  }

  &:hover .down-arrow {
    background-color: #57a292;
  }

  &:hover .about-me-btn {
    background-color: #5fb4a2;
  }
}

.portfolio-btn {
  margin-top: 40px;

  @include mobile {
    padding-bottom: 64px;
  }

  @include tablet-portrait-up {
    margin-bottom: 60px;
  }

  a {
    @include white-btn;
  }

  a:hover {
    background-color: #33323d;
    color: #fafafa;
  }
}

.view-project-btn {
  @include mobile {
    margin: 40px 0;
  }

  @include tablet-portrait-up {
    margin: 45px 0;
  }

  @include desktop-up {
    margin: 55px 0;
  }

  a {
    @include white-btn;

    &:hover {
      background-color: #33323d;
      color: #fafafa;
    }
  }
}

.visit-btn {
  border-bottom: 1px solid #eaeaeb;
  margin-top: 35px;
  padding-bottom: 50px;

  a {
    @include white-btn;

    &:hover {
      background-color: #33323d;
      color: #fafafa;
    }
  }
}

.contact-btn {
  padding-left: 24px;

  @include mobile {
    padding: 0;
  }

  a {
    @include white-btn;
  }

  a:hover {
    background-color: #33323d;
    color: #fafafa;
  }
}
