// Footer
.social-icons {
  @include social-icons;
  ul {
    @include mobile {
      margin-top: 0;
    }
  }

  li {
    margin: 8px;

    @include mobile {
      margin: 10px;
      padding: 0;
    }

    .fab {
      font-size: 1.6rem;
    }
  }

  .fab {
    color: #eaeaeb;
  }
}

// Contact Me Page
.social-icons-2 {
  @include social-icons;

  li {
    margin-right: 15px;
  }
}
