.banner {
  position: relative;

  @include mobile {
    display: block;
    margin: 0;
  }

  @include tablet-portrait-up {
    margin: 0;
  }

  @include desktop-up {
    margin: 25px 0 80px 0;
  }

  .hero-image {
    width: 100%;
  }

  .banner-text {
    background-color: #fafafa;
    width: 27em;

    @include mobile {
      position: initial;
      width: 100%;
    }

    @include tablet-portrait-up {
      position: absolute;
      left: -1px;
      bottom: 0;
      width: 32em;
    }

    p {
      color: #33323d;
      font-family: "Ibarra Real Nova", serif;
      font-weight: bold;

      @include mobile {
        font-size: 34px;
        margin: 24px 0;
      }

      @include tablet-portrait-up {
        font-size: 32px;
      }

      @include desktop-up {
        font-size: 45px;
      }
    }
  }
}

.profile {
  color: #33323d;
  display: flex;
  margin: 6rem 0;

  @include mobile {
    flex-wrap: wrap;
    margin: 0;
  }

  .profile-pic {
    position: relative;
    overflow: hidden;
    width: 100%;

    .pp-1 {
      @include mobile {
        width: 100%;
        height: 100%;
      }

      @include tablet-portrait-up {
        left: -255px;
        position: absolute;
        width: auto;
        height: 100%;
      }

      @include tablet-landscape-up {
        left: -70px;
      }

      @include desktop-up {
        left: 0;
      }
    }
  }

  .profile-text {
    border-bottom: 1px solid #eaeaeb;
    border-top: 1px solid #eaeaeb;

    @include mobile {
      margin: 0;
    }

    @include tablet-portrait-up {
      width: 86%;
      // margin-right: 0;
    }

    @include tablet-landscape-up {
      margin: 0 100px;
    }

    h1 {
      font-family: "Ibarra Real Nova", serif;
      margin-top: 40px;

      @include mobile {
        font-size: 40px;
      }
    }

    p {
      color: #33323db6;
      font-family: "Public Sans", sans-serif;
      font-size: 16px;
      line-height: 30px;

      @include mobile {
        font-size: 16px;
        line-height: 28px;
      }
    }
  }
}

.contact-bottom {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding-bottom: 60px;

  @include mobile {
    flex-direction: column;
    text-align: center;
    padding-bottom: 75px;
  }

  @include desktop-up {
    padding-bottom: 75px;
  }

  .contact-text {
    @include desktop-up {
      margin-right: 32px;
    }

    h3 {
      font-family: "Ibarra Real Nova", serif;
      font-size: 40px;

      @include mobile {
        margin-bottom: 50px;
      }

      @include tablet-portrait-up {
        font-size: 35px;
        max-width: 360px;
        width: 100vw;
      }
    }
  }

  hr {
    border: 1px solid #eaeaeb;
    width: 40%;

    @include mobile {
      display: none;
    }

    @include tablet-portrait-up {
      flex: 1;
      width: 40%;
    }
  }
}
