html {
  display: table;
  height: 100%;
  width: 100%;
  position: relative;
  scroll-behavior: smooth;
}

body {
  background-color: #fafafa;
  display: table-cell;
  width: 100%;
}

// .blur-container {
//   .container {
//     filter: blur(2px);
//   }
// }

html,
body {
  margin: 0;
  padding: 0;
  overflow: auto;
}

.container {
  margin: auto;
  box-sizing: border-box;
  max-width: 1080px;

  @include mobile {
    padding: 0 30px;
    box-sizing: border-box;
  }

  @include tablet-portrait-up {
    padding: 30px;
  }

  @include desktop-up {
    padding: 0;
  }
}
