html {
  scroll-behavior: smooth;
}

body {
  background-color: #fafafa;
  margin: 0;
  min-height: 100vh;
  position: relative;
}

.container {
  margin: auto;
  box-sizing: border-box;
  max-width: 1080px;
  padding-bottom: 1rem;

  @include mobile {
    padding: 0 30px;
    box-sizing: border-box;
  }

  @include tablet-portrait-up {
    padding: 30px;
  }

  @include desktop-up {
    padding: 0;
  }
}
